Repository aQuigs/productivity-timers: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown, run-tests

.pre-commit-config.yaml:

exclude: '^(\.specify/|\.claude/)'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml

      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: ['--allow-missing-credentials']
      - id: detect-private-key
      - id: pretty-format-json
        args: ['--no-sort-keys', '--indent=4', '--autofix']

      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: requirements-txt-fixer
  - repo: local
    hooks:
      - id: check-markdown
        name: check-markdown
        entry: markdownlint -c ./.markdownlintrc --ignore claude-code --ignore .claude --ignore specs --ignore .specify --ignore CLAUDE.md
        language: system
        files: \.(md|mdown|markdown)$
      - id: run-tests
        name: Run JavaScript Tests
        entry: bash -c 'npm test'
        language: system
        pass_filenames: false
        files: \.(js|html|css)$
        stages: [pre-commit]

fix: idle-time allocation and persistence bugs from a review pass (incl. PR #8) (#10)
  CLAUDE.md
  index.html
  js/allocationModal.js
  js/app.js
  js/idleDetector.js
  js/main.js
  js/timeDistributor.js
  js/timer.js
  js/timerManager.js
  tests/allocationModal.test.js
  tests/app.test.js
  tests/helpers.js
  tests/idleDetector.test.js
  tests/timeDistributor.test.js
  tests/timer.test.js
Due: check-markdown, run-tests

deploy: f41618c2d4569a7b9b144a0e479f379d49f82213
  CLAUDE.md
  index.html
  js/allocationModal.js
  js/app.js
  js/idleDetector.js
  js/main.js
  js/timeDistributor.js
  js/timer.js
  js/timerManager.js
  tests/allocationModal.test.js
  tests/app.test.js
  tests/helpers.js
  tests/idleDetector.test.js
  tests/timeDistributor.test.js
  tests/timer.test.js
Due: check-markdown, run-tests

chore: upgrade @web/test-runner to 1.0 and CI to Node 24
  .github/workflows/deploy-main.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-preview.yml
  .github/workflows/run_pre_commit.yaml
  package-lock.json
  package.json
Due: none

chore: upgrade @web/test-runner to 1.0 and CI to Node 24 (#11)
  .github/workflows/deploy-main.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-preview.yml
  .github/workflows/run_pre_commit.yaml
  package-lock.json
  package.json
Due: none

deploy: 993c0170848fd7a968bcf6c17dc0625c7d139ba2
  package-lock.json
  package.json
Due: none

feat: drag timers to reorder, persisted
  CLAUDE.md
  css/styles.css
  js/app.js
  js/timerManager.js
  tests/app.test.js
  tests/layout.test.js
  tests/storageService.test.js
  tests/timerManager.test.js
Due: check-markdown, run-tests

feat: per-timer goal with progress bar and reached notification
  CLAUDE.md
  css/styles.css
  js/app.js
  js/notifier.js
  js/parseDuration.js
  js/storageService.js
  js/timer.js
  js/timerManager.js
  tests/app.test.js
  tests/layout.test.js
  tests/notifier.test.js
  tests/parseDuration.test.js
  tests/storageService.test.js
  tests/timer.test.js
  tests/timerManager.test.js
Due: check-markdown, run-tests

feat: default idle allocation to the previous timer
  CLAUDE.md
  js/allocationModal.js
  tests/allocationModal.test.js
  tests/app.test.js
  tests/integration.test.js
Due: check-markdown, run-tests

feat: default idle allocation to the previous timer (#13)
  CLAUDE.md
  js/allocationModal.js
  tests/allocationModal.test.js
  tests/app.test.js
  tests/integration.test.js
Due: check-markdown, run-tests

deploy: 2b4e0c8508cb187bfc8bcefc95b2c5815a9d1ded
  CLAUDE.md
  js/allocationModal.js
  tests/allocationModal.test.js
  tests/app.test.js
  tests/integration.test.js
Due: check-markdown, run-tests

feat: drag timers to reorder, persisted (#12)
  CLAUDE.md
  css/styles.css
  js/app.js
  js/timerManager.js
  tests/app.test.js
  tests/layout.test.js
  tests/storageService.test.js
  tests/timerManager.test.js
Due: check-markdown, run-tests

fix: show an error for unreadable goal input instead of ignoring it
  CLAUDE.md
  css/styles.css
  js/app.js
  tests/app.test.js
  tests/layout.test.js
Due: check-markdown, run-tests

deploy: 60420b27ff8e4627b37358d243959a3ea8be60b1
  CLAUDE.md
  css/styles.css
  js/app.js
  js/timerManager.js
  tests/app.test.js
  tests/layout.test.js
  tests/storageService.test.js
  tests/timerManager.test.js
Due: check-markdown, run-tests

feat: per-timer goal with progress bar and reached notification (#14)
  CLAUDE.md
  css/styles.css
  js/app.js
  js/notifier.js
  js/parseDuration.js
  js/storageService.js
  js/timer.js
  js/timerManager.js
  tests/app.test.js
  tests/layout.test.js
  tests/notifier.test.js
  tests/parseDuration.test.js
  tests/storageService.test.js
  tests/timer.test.js
  tests/timerManager.test.js
Due: check-markdown, run-tests

deploy: faf54a17c0fd19211326f84038ac100a1804aab9
  CLAUDE.md
  css/styles.css
  js/app.js
  js/notifier.js
  js/parseDuration.js
  js/storageService.js
  js/timer.js
  js/timerManager.js
  tests/app.test.js
  tests/layout.test.js
  tests/notifier.test.js
  tests/parseDuration.test.js
  tests/storageService.test.js
  tests/timer.test.js
  tests/timerManager.test.js
Due: check-markdown, run-tests

docs: never merge with failing CI, re-run flaky checks instead
  CLAUDE.md
Due: check-markdown

docs: never merge with failing CI, re-run flaky checks instead (#15)
  CLAUDE.md
Due: check-markdown

deploy: d0365e9540bdbd6bab5e800c7758e8521321de43
  CLAUDE.md
Due: check-markdown

fix: keep PR preview localStorage separate from production
  CLAUDE.md
  README.md
  js/app.js
  js/idleDetector.js
  js/storageNamespace.js
  js/storageService.js
  tests/app.test.js
  tests/helpers.js
  tests/idleDetector.test.js
  tests/storageNamespace.test.js
  tests/storageService.test.js
Due: check-markdown, run-tests

docs: correct the GitHub Pages URL in the README
  README.md
Due: check-markdown

fix: keep PR preview localStorage separate from production (#16)
  CLAUDE.md
  README.md
  js/app.js
  js/idleDetector.js
  js/storageNamespace.js
  js/storageService.js
  tests/app.test.js
  tests/helpers.js
  tests/idleDetector.test.js
  tests/storageNamespace.test.js
  tests/storageService.test.js
Due: check-markdown, run-tests

deploy: a7f47d9522d9757884eb503f6538ca4365d17081
  CLAUDE.md
  README.md
  js/app.js
  js/idleDetector.js
  js/storageNamespace.js
  js/storageService.js
  tests/app.test.js
  tests/helpers.js
  tests/idleDetector.test.js
  tests/storageNamespace.test.js
  tests/storageService.test.js
Due: check-markdown, run-tests
